body {
    background: #333;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 120px auto;
    text-align: center;
}

input {
    padding: 10px;
    width: 150px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
}

h1 {
    font-size: 48px;
    margin-top: 30px;
}
.slide {
    width: 100%;
    height: 350px;
    object-fit: contain;   /* <-- FIXES big images */
    display: none;
    border-radius: 10px;
    background: #000;      /* optional: avoids white bars */
}


